{% load staticfiles %}
{% load i18n %}
{% load socialaccount %}
<style>
.col-centered{
    float: none;
    margin: 0 auto;
}

</style>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
<div id="id01" class="modal">
  {% load socialaccount %}
  {% providers_media_js %}


  <form class="modal-content animate"  @submit="checkForm" id='loginx'>
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>
    {%csrf_token%}

      <div class="container">
  		<div class="row">
        <div class="col-md-10 col-centered">
  			<div class="panel panel-primary">
  				<div class="panel-body">
            <a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url 'facebook' %}">
          <span class="fa fa-facebook">使用facebook登入</span>
            </a>
            <a class="btn btn-block btn-social btn-google" href="{% provider_login_url 'google' %}">
              <span class="fa fa-google"></span> 使用 Google 登入
             </a>
            <div class="form-group">

              <span v-html="messagx"></span>

            </div>
            {%for non_field_error in form.non_field.errors%}
              <p class="help is-danger">{{non_field_error}}</p>
            {% endfor %}
            {% for field in form %}
  						<div class="form-group">
                <label for="{{field.id_for_label}}" class="label">{{field.label}}</label>
                <div @keyup.enter="Login">{{field}}</div>
                {% if field.help_text%}
                  <p class="help">{{field.help_text}}</p>
                {% endif %}
                {% for error in field.errors %}
                  <p class="is-danger">{{error}}</p>
                {% endfor %}
              </div>
              {%endfor%}
  						<div class="form-group">
  							<button id="signupSubmit" class="btn btn-info btn-block" >登入</button>
  						</div>


  						<hr/>
  						<p></p>

                <h6 >其他登入方式</h6>
                {% include 'blog/social-sign.html' %}

  				</div>
  			</div>
      </div>
  		</div>
  	</div>
      <!--{{form.as_p}}-->

      {% if request.GET.next %}
        <input type='hidden' name='next' value="{{request.GET.next}}"/>
      {% endif %}
  </form>
</div>
<script>
  $('.emailsign').css('display','none');
</script>
<script >


var app = new Vue({

  el: '#loginx',
  data: {
    messagx: '',
    username:null,
    password:null

  },
  methods:{
    checkForm:function(e) {
            let self=this;
      this.errors = [];
if(e) e.preventDefault();
       if(this.username.trim()==''||this.password.trim()==''){
         self.messagx="<div class='alert alert-danger'>登入錯誤</div>";return false;
       }
      var p=$('#loginx').serialize();



      $.ajax({
            url: '/login/', //this is the submit URL
            type: 'POST', //or POST
            data: $('#loginx').serialize(),
            success: function(data){
              alert(data);
              if(data.found==false)
                 self.messagx="<div class='alert alert-danger'>帳號/密碼錯誤</div>"
              else
                 location.reload();
            },
            error:  function(data){
                 alert('successfusslly submitted')
            }
        });
        }
  },
  delimiters: ['${', '}']
});

</script>
<script>
$("#id_username").prop('required',true);
$("#id_password").prop('required',true);
// Get the modal
var modalx = document.getElementById('id01');
var modaly =document.getElementById('id02');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalx || event.target == modaly) {
        modalx.style.display = "none";
    }
}

</script>
