@font-face {
    font-family: GenLM;
    src: url({% static 'css/font/GenJyuuGothicL-Monospace-Light.ttf' %});
    font-weight: light;
}
@font-face {
    font-family: GenLM;
    src: url({% static 'css/font/GenJyuuGothicL-Monospace-Regular.ttf' %});
    font-weight: normal;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}

.card {
  display: block;
    margin-bottom: 20px;
    width:96%;

    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover;
  transition: all .25s ease;
}
.card-content {
  padding:8px 15px 0px 13px;
  text-align:left;
  font-weight: 300;


}
.card-title {
  margin-top:0px;
  font-weight: 100;
  font-size: 20px;
  padding-left: 5%;
  margin-bottom:-1%;
}
.card-title a {
  color:#6B6B6B;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  color:#6b6b6b;
  text-transform: uppercase;

}
/*hot location*/


div.transbox {
  background-color: #ffffff;
  border: 0px solid #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/**/
.square {
    float:left;
    position: relative;
    width: 22%;
    padding-bottom : 22%; /* = width for a 1:1 aspect ratio */
    margin:1.3%;
    background-color:#1E1E1E;
    overflow:hidden;
    text-align:center;
    font-size: 20px;
}

.content {
    position:absolute;
    height:100%; /* = 100% - 2*5% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 5%;
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;

}
.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;

}
/*  For responsive images as background */

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.img2{
    background-image: url('https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg');
}
