





@media (min-width: 660px) { #example-ajax-post { width: 400px; }}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { #example-ajax-post { width: 500px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { #example-ajax-post { width: 500px; } }
#navbax
{
-webkit-box-shadow: 0 4px 3px -2px #ddd;
        box-shadow: 0 4px 3px -2px #ddd;
        -moz-box-shadow:   0 4px 3px -2px #ddd;
}
